<% include ../header.ejs %>

    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-3 text-center text-white mt-4">공통질문 Q&A</h1>
          </div>
        </div>
      </div>
    </header>
    <br/>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Name</th>
            <th>Date</th>
            <th>Answer</th>
        </tr>
        <% documents.forEach(function(currentValue) { %>
          <%
            time = new Date(currentValue.time)
          %>
          <tr>
            <td>
              <%=currentValue.category%>
            </td>
            <td>
              <% if(currentValue.secret) { %>
                <i class="fa fa-lock"></i>
              <% } %>
              <a href="<%=currentValue._id%>"><%=currentValue.title%></a>
            </td>
            <td>
              <%=currentValue.name%>
            </td>
            <td>
              <%=time.getFullYear()%>-<%=time.getMonth()+1%>-<%=time.getDate()%> <%=time.getHours()%>:<%=time.getMinutes()%>
            </td>
            <td>
              <%=currentValue.answer?"Y":"N"%>
            </td>
          </tr>
        <% }) %>
    </table>


    <a href="/qna/write" class="btn btn-default">Question</a>
    <a href="/qna/list" class="btn btn-default">목록으로</a>

<% include ../footer.ejs %>
